*{
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
}
#main-sidebar{
    display: flex;
}
#main-body{
    width: 80%;
}
.div1{
    background-color: rgb(240, 209, 209);
    height: 20vh;
    color: black;
    display: flex;
}
.img{
    height: 100px;width: 100px;
}
.img-container{
    height: 175px;
    width: 200px;
}
.mtext{
    color: black;
    /* width: 100vw; */
    font-family: cursive;
    margin-top: 40px;
    margin-left: 100px;
    font-size: 60px;
}
#div2{
    background-color: rgb(211, 224, 185);
    height: 80vh;
    width: 20%;

}
.bhome{
    background-color:rgb(135, 87, 231);
    width: 250px;
    border: none ;
    margin-top: 10px;

}
.bhome:active{ 
background-color: yellow;
}
#div3{
    background-color:rgb(237, 232, 234);
    height: 70vh;
    text-align: center;
}
#div4{
    background-color: rgb(228, 192, 192);
    height: 10vh;
}
.sidebar{
    border: 1px solid black
    /* padding : 1rem; */
}
nav ul li{
    list-style-type: none;
}
nav a{
    color: white;
}
#ltext{
    font-size: 32pt;
    color:black
 
}
#ltext:hover{
    color: rgb(254, 252, 255);
    cursor: pointer;
}

body{
    position: relative;
}
.shoes1{
    position:absolute;
    right: 0;
    
}
.nav{
    text-align: center;
    margin-left: 35px;

}
.nav-link{

    text-align: center;
}
.nav-link:hover{
    color: rgb(147, 192, 192);
}
.bhome:hover{
    background-color: rgb(83, 31, 31);
    color: white;
}
.nav-item{
    margin-top: 15px;
    border-radius: 25px;
}
.logo-container {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
 }
 
 .logo-container img {
    position: absolute;
    top: 60%;
    left: 6%;
    transform: translate(-50%, -50%);
    animation: bounce 1.5s ease-in-out infinite;
 }
 
 @keyframes bounce {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -70%) scale(0.9); }
    100% { transform: translate(-50%, -50%) scale(1); }
 }
 body {
    background: rgb(228, 192, 192);
 }
 
 ::selection {
    background: #212129;
 }
 
 .search-wrapper {
     position: absolute;
     transform: translate(-50%, -50%);
     top:52%;
     left:80%;
 }
 /* .search-wrapper.active{} */
 
 .search-wrapper .input-holder {    
     height: 70px;
     width:70px;
     overflow: hidden;
     background: rgba(255,255,255,0);
     border-radius:6px;
     position: relative;
     transition: all 0.3s ease-in-out;
 }
 .search-wrapper.active .input-holder {
     width:450px;
     border-radius: 50px;
     background: rgba(0,0,0,0.5);
     transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
 }
 .search-wrapper .input-holder .search-input {
     width:100%;
     height: 50px;
     padding:0px 70px 0 20px;
     opacity: 0;
     position: absolute;
     top:0px;
     left:0px;
     background: transparent;
     box-sizing: border-box;
     border:none;
     outline:none;
     font-family:"Open Sans", Arial, Verdana;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     color:#FFF;
     transform: translate(0, 60px);
     transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.3s;
 }
 .search-wrapper.active .input-holder .search-input {
     opacity: 1;
     transform: translate(0, 10px);
 }
 .search-wrapper .input-holder .search-icon {
     width:70px;
     height:70px;
     border:none;
     border-radius:6px;
     background: #FFF;
     padding:0px;
     outline:none;
     position: relative;
     z-index: 2;
     float:right;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
 }
 .search-wrapper.active .input-holder .search-icon {
     width: 50px;
     height:50px;
     margin: 10px;
     border-radius: 30px;
 }
 .search-wrapper .input-holder .search-icon span {
     width:22px;
     height:22px;
     display: inline-block;
     vertical-align: middle;
     position:relative;
     transform: rotate(45deg);
     transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
 }
 .search-wrapper.active .input-holder .search-icon span {
     transform: rotate(-45deg);
 }
 .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
     position: absolute; 
     content:'';
 }
 .search-wrapper .input-holder .search-icon span::before {
     width: 4px;
     height: 11px;
     left: 9px;
     top: 18px;
     border-radius: 2px;
     background: #FE5F55;
 }
 .search-wrapper .input-holder .search-icon span::after {
     width: 14px;
     height: 14px;
     left: 0px;
     top: 0px;
     border-radius: 16px;
     border: 4px solid #FE5F55;
 }
 .search-wrapper .close {
     position: absolute;
     z-index: 1;
     top:24px;
     right:20px;
     width:25px;
     height:25px;
     cursor: pointer;
     transform: rotate(-180deg);
     transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
     transition-delay: 0.2s;
 }
 .search-wrapper.active .close {
     right:-50px;
     transform: rotate(45deg);
     transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
     transition-delay: 0.5s;
 }
 .search-wrapper .close::before, .search-wrapper .close::after {
     position:absolute;
     content:'';
     background: #FE5F55;
     border-radius: 2px;
 }
 .search-wrapper .close::before {
     width: 5px;
     height: 25px;
     left: 10px;
     top: 0px;
 }
 .search-wrapper .close::after {
     width: 25px;
     height: 5px;
     left: 0px;
     top: 10px;
 }
 .swiper-slide
 {
width: 100%;
 }
 .swiper-slide img
 {
    width: 100%;
    height: 200px;
    object-fit: cover;
 }

 .news-container {
    margin-top: 10px;
    width: 16.5vw;
    border: 1px solid #1b1010;
    margin-bottom: 10px;
    background-color: rgb(128, 164, 164);
  }
  
  .news-header {
    background-color: #d6a1a1;
    padding: 10px;
    cursor: pointer;
  }
  
  .news-content {
    display: none;
    padding: 10px;
  }
  .expand-button{
    background-color: burlywood;
  }
  .card-body{
    height: 400px;
  }
  /* .next{
    margin-top: 20px;
  } */
  .row{
    margin-top: 10px;
    margin-left:2px;
  }
  .card-body{
    display: flex;
    flex-direction: column;width: 5rem; 
  }
  .card-body>button{
    background-color: rgb(231, 175, 101);
    width: 200px;
    height: 80px;
    border: 1px solid bisque;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .card-body>button:hover{
    background-color: rgb(150, 153, 112);
  }
  
  .card-body>button:not(:last-child){
    background-color: rgb(182, 159, 159);
  }
   .card-body>button:not(:last-child):hover{
    background-color: rgb(194, 189, 207);
  }
  .card-body img{
    height: 300px;
    width: 200px;

  }
  .card-body img {
    transition: transform 0.3s, border-color 0.3s;
  }
  
  .card-body img:hover {
    transform: scale(1.2); /* Zoom effect */
    border: 2px solid rgb(61, 61, 66); /* Border on hover */
  }
  
  
body {
    margin:0px;
    font-family:"Open Sans",sans-serif;
    background:#ddd;
  }
  .overlay-form {
    position:absolute;
    top:50vh;
    left:0px;
    width:100vw;
    height:0vh;
    background:rgba(0,0,0,0.8);
    z-index:-1;
    opacity:0;
    padding:80px 100px;
    overflow:hidden;
    box-sizing:border-box;
    transition: top 500ms ease-in-out,
                opacity 500ms ease-in-out,
                height 0ms ease-in-out 500ms;  
  }
  .overlay-form .close-btn {
    position:absolute;
    top:20px;
    right:40px;
    color:#fff;
    font-size:40px;
    font-weight:600;
    cursor:pointer;
  }
  .overlay-form h1 {
    font-size:32px;
    color:#fff;
  }
  .overlay-form p {
    font-size:16px;
    color:#eee;
    margin:-15px 0px 30px;
  }
  .overlay-form .form-element {
    margin:20px 0px;
  }
  .overlay-form label {
    display:block;
    font-size:17px;
    color:#eee;
    margin-bottom:5px;
  }
  .overlay-form input {
    width:100%;
    padding:6px;
    font-size:17px;
    border:2px solid #eee;
    background:transparent;
    outline:none;
    border-radius:10px;
  }
  .overlay-form button,
  .center button {
    margin-top:10px;
    width:100px;
    height:35px;
    font-size:15px;
    text-transform:uppercase;
    background:#fff;
    color:#222;
    border:none;
    outline:none;
    border-radius:10px;
  }
  .center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top: -44px;
    margin-left: 188px;
  }
  .center button {
    width:150px;
    height:40px;
    font-weight:600;
    box-shadow:3px 3px 2px 1px rgba(0,0,0,0.1);
    cursor:pointer;
  }
  
  body.activeForm .overlay-form {
    z-index:2;
    opacity:1;
    top:0px;
    height:100vh;
    transition: top 500ms ease-in-out,
                opacity 500ms ease-in-out,
                height 0ms ease-in-out 0ms;
  }
  
